html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

    body.text-center {
        background-color: red;
    }

h3.guess-character {
    border-bottom: 3px solid black;
    width: fit-content;
    margin-left: 39%;
}

    h3.guess-character:hover {
        border-color: blue;
    }

span.presult {
    position: absolute;
    margin-left: .5%;
    opacity: 0%;
}

p.result {
    font-weight: bold;
    margin-top: 1%;
    margin-left: 45%;
    width: fit-content;
    border: 2px solid black;
    border-radius: 5px;
    background: linear-gradient(to right, white);
}

    p.result:hover span.presult {
        position: relative;
        margin-left: 0%;
        opacity: 100%;
    }

p.length {
    border: 3px double red;
    border-width: 4px;
    width: fit-content;
    margin-left: 46%;                              
    background-color: white;
    font-weight: bold;
    align-content: center;
}

p:hover {
    background-color: lightblue;
    border-color: black;
}

p.guessed {
    border-bottom: 3px double black;
    background-color: white;
    width: fit-content;
    display: inline-block;
}

p.in-letter-form {
    width: fit-content;
    margin-left: 42%;
    background-color: white;
}

    p.in-letter-form:hover {
        border-bottom: 3px solid black;
    }

button
{
    margin-top: 1%;
}