span
{
  font-size: large;
  color: chocolate;
}

.multiple
{
  border: 5px solid purple;
  width: 15%;
}

input[type="text"]
{
  border: 8% solid yellow;
  padding: 10px;
  margin-right: 4px;
  display: inline-block;
  width: 10%;
}

/*@media (min-width: 500px) and (max-width: 768px) {
  .results {
    grid-template-columns: repeat(2, 1fr);
  }

  input[type="text"] {
    width: 70%;
  }
}

@media (max-width: 499px) {
  .results {
    grid-template-columns: 1fr;
  }
}*/

div
{
  font-size: medium;
  color: blue;
  font-weight: bold;
}
