@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scramble</h1>
    <h2>@ViewData["title"]</h2>
    <div>
        <h3>Click to Start</h3>
        <a href="~/Game/Create">GAME</a>

        <a href="~/Game/Rules">RULES</a>
        <a href="~/Home/Privacy">PRIVACY</a>
    </div>
</div>
