@model List<char>

@{
    ViewData["Title"] = "Game Page";
}


<div class="text-center">
    <h1 class="display-4">Scramble</h1>

    <h3 class="guess-character">Guess a Character: </h3>
    <form action="/Game/Index" method="post">
        <input type="text" name="guess" placeholder="Enter character"</>
        <button type="submit">Enter</button>
    </form>
    @foreach (var character in Model)
    {
        <span>@character</span>
    }
    <p class="length">Length: @Model.Count</p>

    @*if (Model.Guess != "quit")
    {
        @if (Model.guessLength > 1)
        {
            <script type="text/javascript">window.location.href = "/Home"</script>
        }
        @if (Model.usersWord != null)
        {
            <p>Guessed letters</p>
            <ul>
                @foreach (var character in Model.usersWord)
                {
                    <li>@character</li>
                }
            </ul>
            <p>Length: @Model.usersWord.Count</p>
        }
        else
        {
            <p>Guess not added to list. List is empty</p>
        }
    }
    else
    {
        <script type="text/javascript">window.location.href = "/Home"</script>
    }
    *@
    <div class="restart">
        <button class="restart" onclick="location.href = '/Home'">Restart</button>
    </div>
</div>

