@model GameModel

@{
    ViewData["Title"] = "Rules Page";
}


<div class="text-center">
    <p class="rules">
        Welcome to Scramble, ENJOY!<br>
        An animal word has been scrambled, unscramble it and win game.
        If you guess the same letter twice, the game ends
        Each input must only be 1 character<br>
        You must type a character or the game ends
        All names are case sensitive.
    </p>

    <a href="~/Home">HOME PAGE</a>
</div>

