@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Scramble</h1>
    <div>
        <h2>Click to Start</h2>
        <a href="~/Game/Index">GAME</a>
    </div>
</div>
