@model GameModel

@{
    ViewData["Title"] = "Rules Page";
}


<div class="text-center">
    <h1>Rules</h1>
    <h2>
        Welcome to Scramble, ENJOY!<br>
        An animal word has been scrambled, unscramble it and win game.<br>
        If you guess the same letter twice, the game ends<br>
        Each input must only be 1 character<br>
        You must type a character or the game ends<br>
        All names are case sensitive.<br>
    </h2>

    <a href="~/Home">HOME PAGE</a>
</div>

