@using Unscramble.Models;

@{
    ViewData["Title"] = "Game Page";
}

@model GameModel

<div class="text-center">
    <h1 class="display-4">Scramble</h1>

    <form method="post">
        <h3>Guess a Character: </h3>

        <input type="text" name="Guess"/>
        <button type="submit">Enter</button>
    </form>
    @if (!string.IsNullOrWhiteSpace(Model.Guess))
    {
        <p>Letter: @Model.Guess</p>
        @if (Model.usersWord != null)
        {
            <ul>
                @foreach (var character in Model.usersWord)
                {
                    <li>Guessed letters: @character</li>
                    <li>@Model.usersWord.Count</li>
                }
            </ul>
        }
        else
        {
            <p>Guess not added to list. List is empty</p>
        }
    }
    <div class="restart">
        <button class="restart" onclick="location.href = '/Home'">Restart</button>
    </div>
</div>