@using Unscramble.Models;
@{
    ViewData["Title"] = "Game Page";
}

@model GameModel

<div class="text-center">
    <h1 class="display-4">Scramble</h1>
    @if (!string.IsNullOrEmpty(Model.Guess))
    {
        <form>
            <h3>Guess a Character: </h3>
            
            <input type="text" input="guess"/>
            <button type="button" onclick="@Model.Guess">Enter</button>
        </form>
        <h2>Current Guess: @Model.Guess</h2>
    }
    <div class="restart">
        <button class="restart">Restart</button>
    </div>
</div>