@model GameModel

@{
    ViewData["Title"] = "Game Page";
}


<div class="text-center">
    <h1 class="display-4">Scramble</h1>

    <form method="post">
        <h3>Guess a Character: </h3>

        <input type="text" name="guess"/>
        <button type="submit">Enter</button>
    </form>
    @if (Model.Guess != "quit")
    {
        //<p>Letter: @Model.Guess</p>
        @if (Model.usersWord != null)
        {
            <p>Guessed letters</p>
            <ul>
                @foreach (var character in Model.usersWord)
                {
                    <li>@character</li>
                }
            </ul>
            <p>Length: @Model.usersWord.Count</p>
        }
        else
        {
            <p>Guess not added to list. List is empty</p>
        }
    }
    else
    {
        <script type="text/javascript">
            window.location.href = "/Home"</script>
    }
    <div class="restart">
        <button class="restart" onclick="location.href = '/Home'">Restart</button>
    </div>
</div>